:root {
  --general-text: #000000;
  --accent-text: #00000099;
  --general-bg: #ffffff;
  /* --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --accent-color-2: #ceaad0;
    --input-color: #AC907A;
    --transition: all .4s;
    --border-radius: 20px; */
}

html {}

.body {
  font-family: "Satoshi", "FONTSPRING DEMO - Integral CF Heavy", sans-serif;
  color: var(--general-text);
  background: var(--general-bg);

}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1271px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* .button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--general-text);
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 3px 15px;
  height: 62px;
} */

.button {
  max-width: 210px;
  height: 52px;
  display: flex;
  background: var(--general-text);
  border-radius: 62px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 54px 16px 54px;
}